<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">API Sunat</h4>
                <h6 class="card-subtitle">Vista General</h6>

                <!-- <form class="form p-t-20" 
                        [formGroup]="perfilForm"
                        (submit)="actualizarPerfil()"> -->
                
                    <div class="form-group" *ngFor="let estado of sunat_object | keyvalue">
                        <label for="{{estado.key}}" >{{estado.key | uppercase}}</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text"
                                    class="form-control"
                                    id="{{estado.key}}"
                                    [(ngModel)]="estado.value"
                                    value="{{ estado.value }}">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" 
                                    class="form-control" 
                                    id="exampleInputEmail1" 
                                    placeholder="Email"
                                    formControlName="email"
                                    [readOnly]="usuario.google">
                        </div>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="exampleInputGender">Sexo</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text"
                                    class="form-control"
                                    id="exampleInputGender"
                                    placeholder="Sexo"
                                    formControlName="sexo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputLugar">Lugar de Capacitación</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text"
                                    class="form-control"
                                    id="exampleInputLugar"
                                    placeholder="Lugar Capacitación"
                                    formControlName="lugar_capacitacion">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDNI">DNI</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text"
                                    class="form-control"
                                    id="exampleInputDNI"
                                    placeholder="DNI"
                                    formControlName="DNI">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputRUC">RUC</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text"
                                    class="form-control"
                                    id="exampleInputRUC"
                                    placeholder="RUC"
                                    formControlName="RUC">
                        </div>
                    </div> -->
                    
                    <!-- <button type="submit" 
                            class="btn btn-success btn-block waves-effect waves-light m-r-10"
                            [disabled]="perfilForm.invalid">
                        <i class="fa fa-save"></i>
                        Guardar cambios
                    </button> -->
                <!-- </form> -->

            </div>
        </div>
    </div>